<!DOCTYPE html>
<html>
<head>
	<title>DB Consulting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel='stylesheet' href='/stylesheets/menu.css' />
	<link rel='stylesheet' href='/stylesheets/flex.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/modernizr.min.js" type="text/javascript"></script>
</head>
<body>
	<section id="hero">
		<div class="container">
			<h1 class="headerText">We can <span id="recycle">bring ideas to life.</span></h1>
			<div class="connectButton"><p>Get in Touch</p></div>
			<div class="arrow bounce"></div>
		</div>
	</section>
	<section id="about">
		<div class="container">
			<h1>Who we are</h1>
			<p>We are a creative agency delivering innovative solutions for brands and consumers. Our team has a passion for the big picture, little details, and driving measurable results.</p>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<h1>What we do</h1>
			<div class="row">
				<div class="column _25">
					<img src="/images/dev.png">
					<p>Development</p>
				</div>
				<div class="column _25">
					<img src="/images/launch.png">
					<p>Product Launch</p>
				</div>
				<div class="column _25">
					<img src="/images/growth.png">
					<p>Growth</p>
				</div>
				<div class="column _25">
					<img src="/images/optimize.png">
					<p>Content Optimization</p>
				</div>
			</div>
		</div>
	</section>
	<section id="footer">
		<div class="container">
			<h1>Need something done? We got you covered</h1>
			<div class="connectButton"><p>Get in Touch</p></div>
		</div>
	</section>
	<script src="/javascripts/menu.js" type="text/javascript"></script>
	<script src="/javascripts/classie.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/javascripts/typed.js" type="text/javascript"></script>
	<script>
		$(function(){
			$("#recycle").typed({
				strings: ["develop your product.", "launch your app.", "grow your business.", "optimize your webpage.", "lead you to success."],
				typeSpeed: 75,
        // time before typing starts
        startDelay: 1500,
        // backspacing speed
        backSpeed: 15,
         // time before backspacing
         backDelay: 1250,
        //infinite
        loop: true
    });
		});
	</script>
</body>
</html>