/* Grid */
.column {
  flex-basis: 100%; }

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .column {
    flex: 1; }
  ._25 {
    flex: 2.5; }
  ._5 {
    flex: 5; } }

/* Style */
.column {
  padding: 15px;
  margin: 5px 0; }
